
*.aux
*.blg
*.log
*.out
*.gz
Project_Proposal/.DS_Store
OldCode/
venv/
venvExamples/
__pycache__/
.DS_Store
datasets/
old_datasets/
outputs/
Latex/DeMartini-Paper_project/MAIN.pdf
Latex/Morettini-Paper_project/MAIN.pdf
Project_Proposal/Project_proposal.pdf
Latex/Morettini-Paper_project/MAIN.pdf
